body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(242, 255, 255);
}

.snowflake{
    height: 20em;
    animation:2s rotate infinite linear; 

}

p:hover {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform: scale(1.03); 
}

@keyframes rotate{
    100%{ transform:rotate(1turn) }
}