body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(242, 255, 255);
}

.snowflake{
    height: 20em;
    animation:2s rotate infinite linear; 

}


@keyframes rotate{
    100%{ transform:rotate(1turn) }
}