body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(242, 255, 255);
}

.snowflake{
    height: 20em;
    animation:2s rotate infinite linear; 
margin: 5em;
}

p:hover {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform: scale(1.03); 
}

@keyframes rotate{
    100%{ transform:rotate(1turn) }
}

.tree {
    height: 15em;
    position: absolute;
    margin-top: 60em;
    margin-left: 50em;
}


.gifts {
    height: 7em;
    position: absolute;
    margin-top: 68em;
    margin-left: 30em;
}

.stockin{
    height: 8em;
    margin-top: 65em;
    position: absolute;
    margin-right: 50em;
}


.sock{
    height: 8em;
    margin-top: 65em;
    position: absolute;
    margin-right: 30em;
}